body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: cornsilk;
}

.users-container {
    margin: 0;
    background-color: beige;
    width: 100vw;
    height: 100vh;
    /*box-sizing: border-box;*/
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.users-container > div {
    margin: 0;
    width: 45vw;
    height: 10vh;
    background-color: aqua;
    border: 5px solid red;
    justify-content: center;
}

.users-container button {
    display: block;
}

.btn {
    display: flex;
    justify-content: center;
}

.info-container {
    width: 100%;
    height: 50%;
    background-color: blue;
    border: 2px solid black;
    color: bisque;
}

.posts-container {
    width: 100%;
    height: 45%;
    background-color: yellow;
    border: 2px solid black;
    /*box-sizing: border-box;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.posts-container .block-posts {
    width: 19.55%;
    border: 3px solid lightblue;
    text-align: center;
}

.post-button {
    font-size: 20px;
    width: 90%;
    height: 5%;
    justify-content: center;
}

.main {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: lightslategrey;
}

h1 {
    margin: 0;
    padding: 2%;

}

.user-info-container {
    margin: 2%;
    padding: 2%;
    width: 90vw;
    height: 20%;
    background-color: dimgray;
}

.comments-container {
    margin: 2%;
    padding: 2%;
    width: 90%;
    height: 40%;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.comments-container .comment-list{
    width: 20%;
}

